.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  height: 100vh;
  background-color: #2f3135;
};

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2f3135;
  color: #ffffff;
  border-bottom: 3px solid #26282c;
};

.header {
  display: flex;
  align-items: center;
};

.channels {
  flex: 1;
};

.add__channel {
  cursor: pointer;
};

.add__channel:hover {
  color: #ffffff;
};

.channels__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2f3135;
  color: #808080;
};